.results-details {
  display: flex;
  gap: 2rem;
  justify-content: space-evenly;
  padding: 2rem 0;
  text-align: center;
}
.results-detail {
  text-transform: uppercase;
  color: var(--grey-500);
  font-size: 1.3rem;
}
.results-email {
  background-color: var(--brand-light);
  color: var(--white);
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  padding: 0.75rem 0;
  text-align: center;
  font-size: 1.2rem;
}
.results-cost {
  text-align: center;
  font-size: 3rem;
  font-weight: 800;
  padding: 2rem 0;
  color: var(--black);
  display: flex;
  flex-direction: column;
  line-height: 1;
}
.results-cost span {
  font-size: 0.8rem;
  color: var(--brand-dark);
}

#results dl {
  background-color: var(--white);
  width: 100%;
  border-radius: 1rem;
  box-shadow: var(--box-shadow-lg);
}
#results dt {
  font-weight: 800;
  font-size: 0.8rem;
  text-align: center;
  color: var(--brand-dark);
}
#results dd {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 1rem;
  color: var(--black);
}
.inputs-wrapper,
.outputs-wrapper {
  display: flex;
  flex-direction: column;
  padding: 16px 128px;
  flex: 1 0 auto;
}
.inputs-wrapper {
  background-color: var(--amber-100);
  border-radius: 8px;
  justify-content: center;
}
.outputs-wrapper {
  justify-content: space-between;
  background-color: var(--sky-200);
  padding: 16px;
  border-radius: 8px;
  flex: 1 0 auto;
}
.training-plan-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 16px;
}
.wrapper {
  display: flex;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 32px 32px;
}
